---
---

$primary: #111;
$bg: #EEE;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xl: 1200px;

body {
  background: $bg;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  margin: 0;

  &, a {
    color: $primary;
  }

  @media (min-width: $break-sm) {
    & {
      font-size: 2em;
    }
  }
}
.grid {
  display: grid;
  
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: minmax(100vh,auto);
  grid-template-areas: ". text .";
  align-items: center;

  @media (min-width: $break-md) {
    & {
      grid-template-columns: 1fr 5fr 1fr;
      grid-template-areas: ". text .";
    }
  }
  @media (min-width: $break-lg) {
    & {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: ". text .";
    }
  }
  @media (min-width: $break-xl) {
    & {
      grid-template-columns: 1fr minmax(1fr, 33vw) 1fr;
      grid-template-areas: ". text .";
    }
  }
}
.content {
  grid-area: text;
  margin: 2rem 0;
}
h1, h2 {
  font-size: 2.75em;
  font-weight: 600;
  margin: 0;
}
p {
  margin: 2rem 0;
}
.btn {
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  @media (max-width: $break-sm) {
    & {
      display: block;
      margin: 1rem 0;
    }
  }
}
.btn-outline {
  padding: 15px 20px;
  border: 2px solid $primary;
  color: $primary;
  transition: background 0.3s;

  &:active,
  &:focus,
  &:hover {
    color: $bg;
    background: $primary;
  }
}


